<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Shift #</th>
      <th scope="col">Coverage</th>
      <th scope="col">Lines</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody id='accordion-shifts'>
    {% for shift in sg.shifts %}
      <tr>
        <td data-toggle='collapse' href="#run{{ forloop.counter }}-{{ forloop.parentloop.counter }}" class="accordion-toggle">+</td>
        <td scope="row">{{ shift.id }}</td>
        <td>
          {% if shift.employee.user.first_name == None %}
            Open
          {% else %}
            {{ shift.employee.user.first_name }} {{ shift.employee.user.last_name }}
          {% endif %}
        </td>
        <td>
          {% for run in shift.run_set.all %}
            {{ run.line }}
          {% endfor %}
        </td>
        <td>{{ shift.start_datetime|date:"m/d/Y" }}</td>
        <td>{{ sg.start_datetime|date:"l" }}</td>
        <td>{{ sg.start_datetime|time:"H:i" }}</td>
        <td>{{ sg.end_datetime|time:"H:i" }}</td>
      </tr>
      <tr>
        <td colspan="12" class="hiddenRow">
          <div class="accordian-body collapse" data-parent='#accordion-shifts' id="run{{ forloop.counter }}-{{ forloop.parentloop.counter }}" style="padding-left: 40px; padding-bottom: 20px; background-color:gray"> 
            {% if shift.run_set.count != 0 %} 
              {% include 'table-runs.html' %}
            {% else %}
              <p>No runs for this shift</p>
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>