{% extends 'shift_app/base.html' %}
{% block main %}

  <div class='jumbotron'>
    <h1>Shifts</h1>
  </div>
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Group Shifts</th>
        <th scope="col">Day</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
      </tr>
    </thead>
    <tbody>
      {% for sg in shift_groups %}
        <tr data-toggle="collapse" data-target="#shifts{{ forloop.counter }}" class="accordion-toggle">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ sg.start_datetime|date:"l" }}</td>
          <td>{{ sg.start_datetime|time:"H:i" }}</td>
          <td>{{ sg.end_datetime|time:"H:i" }}</td>
        </tr>
        <tr>
          <td colspan="6" class="hiddenRow">
            <div class="accordian-body collapse" id="shifts{{ forloop.counter }}"> 
              {% if sg.shifts.count != 0 %} 
                <table class="table table-bordered table-hover table" style="background-color:rgba(255, 0, 0, .50)">
                  <thead>
                    <tr>
                      <th scope="col">Shifts</th>
                      <th scope="col">Date</th>
                      <th style="width:1px"><i href="{% url 'shift-add' %}" class="material-icons btn btn-primary" data-toggle="collapse" data-target="#newShift" class="accordion-toggle">add_circle_outline</i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="6" class="hiddenRow">
                        <div class="accordian-body collapse" id='newShift'>
                          {% include 'shift_app/shift-form.html' %}
                        </div>
                      </td> 
                    <tr>
                    {% for shift in sg.shifts %}
                      <tr data-toggle="collapse" data-target="#run{{ forloop.counter }}" class="accordion-toggle">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ shift.start_datetime|date:"d M Y" }}</td>
                        <td style="width:125px"><i class="material-icons btn btn-primary">delete_forever</i><i class="material-icons btn btn-primary" onclick="console.log('gang')">edit</i></td>
                      </tr>
                      <tr >
                        <td colspan="6" class="hiddenRow">
                          <div class="accordian-body collapse" id="run{{ forloop.counter }}" style="padding-left: 30px; padding-bottom: 15px; background-color:black"> 
                            {% if shift.run_set.count != 0 %} 
                              <table class="table table-bordered table-hover table">
                                <thead>
                                  <tr>
                                    <th scope="col">Runs</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for run in shift.run_set.all %}
                                    <tr>
                                      <th scope="row">{{ forloop.counter }}</th>
                                      <td>{{ run.start_datetime|time:"H:i" }}</td>
                                      <td>{{ run.end_datetime|time:"H:i" }}</td>
                                    </tr>
                                  {% endfor %}
                              </table>
                            {% else %}
                              <p>No runs for this shift</p>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p>No runs for this shift</p>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}