<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th style="width:1px"></th>
    </tr>
  </thead>
  <tbody id='accordion'>
    {% for shift in my_shifts %}
      <tr data-toggle='collapse' href="#shifts{{ forloop.counter }}" class="accordion-toggle">
        <td scope="row">+</td>
        <td>{{ shift.start_datetime|date:"d M Y" }}</td>
        <td>{{ shift.start_datetime|date:"l" }}</td>
        <td>{{ shift.start_datetime|time:"H:i" }}</td>
        <td>{{ shift.end_datetime|time:"H:i" }}</td>
        <td style="width:50px">
          <div style='display: flex; justify-content: space-around;'>
            <form style='inline' action="{% url 'shifts:swap-put' pk=shift.pk %}" method='post' enctype="multipart/form-data">
              {% csrf_token %}
              {% if shift.can_swap %}
                <button class='btn btn-primary' type='submit' disabled>In Swap Market</button>
              {% else %}
                <button class='btn btn-primary' type='submit'>Put in Shift Swap Market</button>
              {% endif %}
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>