<table class="table table-bordered table-hover" id='table-database-shifts' cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Shift #<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">Coverage<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">Lines<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">Date<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">Day<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">Start Time<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th scope="col">End Time<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      <th style="width:1px"></th>
    </tr>
  </thead>
  <tbody id='accordion'>
    {% for shift in all_shifts %}
      <tr>
        <td scope="row">{{ shift.id }}</td>
        <td>
          {% if shift.employee.user.first_name == None %}
            Open
          {% else %}
            {{ shift.employee.user.first_name }} {{ shift.employee.user.last_name }}
          {% endif %}
        </td>
        <td>
          {% for run in shift.run_set.all %}
            {{ run.line }}
          {% endfor %}
        </td>
        <td>{{ shift.start_datetime|date:"m/d/Y" }}</td>
        <td>{{ shift.start_datetime|date:"l" }}</td>
        <td>{{ shift.start_datetime|time:"H:i" }}</td>
          <td>{{ shift.end_datetime|time:"H:i" }}</td>
        <td style="width:150px">
          <div style='display: flex; justify-content: space-around;'>
              <input class='btn market-shift-delete waves-effect' href="{% url 'shifts:delete' pk=shift.pk %}" type="button" value='Delete'/>
            <form style='inline' action="{% url 'shifts:update' pk=shift.pk %}" method='post' enctype="multipart/form-data">
              {% csrf_token %}
              <button class='btn' type='submit'>
                <i class="material-icons">edit</i>
              </button>
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>