<div class="card mb-4">
    <h3 class='card-header'>Add Shift</h3>
    <div class='card-body'>
        <form class="form-horizontal" action="{% url 'shifts:add' %}" method="post" enctype="multipart/form-data" autocomplete="off">
            <div id='shift-form-og'>
                {% csrf_token %}
                <h3 id='form-title'>Shift</h3>
                <div class='row'>
                    {% include 'shifts/form-template.html' %}
                </div>
            </div>
            <h4>{{ select_number_of_runs_form }}</h4 >
            <div id='id_run_forms'>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success btn-center">Submit</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('id_number_of_runs').addEventListener('change', () => {
        var selector = document.getElementById('id_number_of_runs');
        var choice = selector[selector.selectedIndex].value;
        console.log(choice)
        var myNode = document.getElementById("id_run_forms");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }
        let run_forms = document.querySelector('#id_run_forms');
        for (let i = 0; i < choice; i++) {
            let form = document.querySelector('#shift-form-og');
            form = form.cloneNode(true);
            form.querySelector('#form-title').textContent = 'Run ' + (i+1);
            form.querySelector('#id_start_datetime').name = 'start_datetime_run_' + i;
            form.querySelector('#id_start_datetime')
            form.querySelector('#id_end_datetime').name = 'end_datetime_run_' + i;
            
            run_forms.appendChild(form);
        }

        $('[data-toggle="datepicker"]').datetimepicker();
    });
    
</script>


