<div class="card mb-4">
    <h3 class='card-header'>Add Shift</h3>
    <div class='card-body'>
        <form class="form-horizontal" action="{% url 'shifts:add' %}" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div id='shift-form-og'>
                <h3 id='form-title'>Shift</h3>
                <div class='row'>
                    {% for field in shift_form %}
                        <div class="form-group col">
                            {{ field.label_tag }} {{ field }}
                            <div>
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class='row'>
                {% for field in employee_form %}
                <div class="form-group col">
                    {{ field.label_tag }} {{ field }}
                    <div>
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h4>{{ select_number_of_runs_form }}</h4>
            <div id='id_run_forms'>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success btn-center">Submit</button>
            </div>
        </form>
    </div>
</div>
