<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Day</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody id='accordion'>
    {% for sg in shift_groups %}
      <tr data-toggle='collapse' href="#shifts{{ forloop.counter }}" class="accordion-toggle">
        <td scope="row">+</td>
        <td>{{ sg.start_datetime|date:"l" }}</td>
        <td>{{ sg.start_datetime|time:"H:i" }}</td>
        <td>{{ sg.end_datetime|time:"H:i" }}</td>
      </tr>
      <tr>
        <td colspan="100" class="hiddenRow">
            <div class="accordion-bo#dy collapse" data-parent='#accordion' id="shifts{{ forloop.counter }}" style='padding-left: 40px; padding-bottom: 20px; background-color:black'>
              {% if sg.shifts.count != 0 %} 
                {% include 'shifts/table-shifts.html' %}
              {% else %}
                <p>No runs for this shift</p>
              {% endif %}
            </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>