<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody id='accordion'>
    {% for shift in filled_shifts %}
      <tr data-toggle='collapse' href="#shifts{{ forloop.counter }}" class="accordion-toggle">
        <th scope="row">+</th>
        <td>{{ shift.start_datetime|date:"d M Y" }}</td>
        <td>{{ shift.start_datetime|date:"l" }}</td>
        <td>{{ shift.start_datetime|time:"H:i" }}</td>
        <td>{{ shift.end_datetime|time:"H:i" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>