<table class="table table-bordered table-hover" id='table-database-employees'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee</th>
      <th scope="col">Wage($/hr)</th>
    </tr>
  </thead>
  <tbody id='accordion'>
    {% for employee in employees %}
      <tr data-toggle='collapse' href="#shifts{{ forloop.counter }}" class="accordion-toggle">
        <td scope="row">+</td>
        <td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
        <td>{{ employee.wage }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>